
/* IDS Colors */

$azure-04: #55A3F3;
$azure-06: #0072ED;
$azure-07: #0066D4;

.bg-azure-06 {
    background-color: $azure-06 !important;
    background-image: linear-gradient($azure-04, $azure-06) !important;
}

/* Hyperlinks */

$link-color: $azure-06;
