
/* Fonts */

@font-face {
    font-family: 'Source Sans Pro Regular';
    src: url('../../assets/fonts/SourceSansPro-Regular.ttf') format('truetype');
}

$body-font-family: 'Source Sans Pro Regular', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
  Roboto, 'Helvetica Neue', Arial, sans-serif;

/* Colors */

$azure-04: #55A3F3;
$azure-06: #0072ED;
$azure-07: #0066D4;

.bg-azure-06 {
    background-color: $azure-06 !important;
    background-image: linear-gradient($azure-04, $azure-06) !important;
}

.bg-azure-06:hover {
    background-color: $azure-07 !important;
    background-image: linear-gradient($azure-06, $azure-07) !important;
}

/* Hyperlinks */

$link-color: $azure-06;

/* Buttons */

.btn {
    border-radius: 2px !important;
    padding: 6px 30px !important;
}